<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Smart Shop</a>
      <form class="d-flex">
        <button class="btn btn-default" a routerLink="/showproduct" routerLinkActive="active"  type="submit">Show Product</button><br>
        <br>
        <button class="btn btn-default"a routerLink="/search" routerLinkActive="active" type="submit">Search</button><br>
        <i class="bi bi-cart"></i>
        <br>
        <button class="btn btn-default"a routerLink="/home" routerLinkActive="active" type="submit">Log Out</button><br>
      </form>
    </div>
  </nav>
  <div class="img">
    <img class="bg-img" src="../../../assets/background.jpg" alt="">
  </div>