<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Smart shop</a>
      <form class="d-flex">
        <button class="btn btn-default" a routerLink="/showproduct" routerLinkActive="active"  type="submit">Product</button><br>
        <br>
        <!-- <button class="btn btn-default"a routerLink="/login" routerLinkActive="active" type="submit">Me</button><br>
        <br> -->
        <button class="btn btn-default"a routerLink="/home" routerLinkActive="active" type="submit">Log Out</button><br>
      </form>
    </div>
  </nav>
  <div class="img">
    <img class="bg-img" src="../../../assets/background.jpg" alt="">
  </div>